.router-view {
    margin-top: 2em;
} /* end of .router-view */

.page-header {
    margin-top: 0;
    h3 {
        margin-top: 0;
    }
} /* end of .page-header */

#app {
	padding-bottom: 100px;
} /* end of #app */
